@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav {
    font-family: 'Josefin Sans';
}