@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/******************** FONT-FACES ********************/
@font-face{
    font-family: "Inter";
    src: url("../assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
    font-family: "Din";
    src: url("../assets/fonts/DIN2014-Regular.woff") format('woff');
}

/******************** NAVBAR ********************/
@media screen and (max-width: 652px) {
    .logo-container {
        left: 10;
        top: 20;
    }
}

/******************** LANDING-PAGE IMAGES CHANGING ANIMATION ********************/

.slider {
    height: 75vh;
    background: url('../assets/bopomofo-background-images/1-background.jpg') no-repeat center center/cover;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url('../assets/bopomofo-background-images/2-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('../assets/bopomofo-background-images/3-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('../assets/bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
    25%{
        background: url('../assets/bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
}


/******************** ORDER-AHEAD ********************/

.order-ahead-container {
    background: url("../assets/images/below-image.png") no-repeat center center/cover;
    min-height: 80vh;
}

.order-ahead-btn:hover  {
    background-color: #fff;
    color:#e26650;
}

/******************** THREE IMAGES ********************/

.three-images-container {
    background: url("../assets/images/peony_background.jpg") no-repeat center center/cover; 
}

.three-images-ul button {
    border-color: #e26650;
    color: #e26650;
    transition: 0.1s background-color linear, 0.1s color linear;
}

/******************** STORY/BLACK CONTAINER ********************/

.story-container {
    min-height: 66vh;
}

.story-ul button {
    border-color: #e26650;
    color: #e26650;
    transition: 0.1s background-color linear, 0.1s color linear;
}

.story-ul button:hover {
    color: #fff;
    background-color: #e26650;
}


/******************** TIGER IMAGE ********************/
.tiger-container {
    min-height: 75vh;
    background: url("../assets/images/tigerz.png") no-repeat center center/cover; 
}

/******************** FOOTER ********************/

.footer {
    min-height: 40vh;
}

/******************** ABOUT PAGE ********************/

.about-mission {
    height: 42vh;
}

.about-story {
    background: url("../assets/images/peony_background.jpg") no-repeat center center/cover;
    height: 90vh;
}

.about-image-container {
    background: url("../assets/images/yahya-background.jpg") no-repeat center center/cover;
    height: 90vh;
}

/******************** MEDIA QUERIES ********************/


@media (max-width: 1850px) {
    .links-and-icons {      
        padding-right: 50px;
    }   
}

@media screen and (max-width: 820px) {
.story-container {
    text-align: center;
    height: 40vh;
}
.story-container li:first-child {
    font-size: 1.1rem;
}

.story-container button {
    font-size: 0.745rem;
    }
}

@media screen and (max-width: 408px) {
    .three-images-ul button {
        height: 10vw;
        width: 20vw;
        padding: 0;
        font-size: 14px;
    }
}


@media screen and (max-width: 408px) {
    .three-images-ul button {
        height: 10vw;
        width: 20vw;
        padding: 0;
        font-size: 14px;
    }
}




